footer{
	/*margin-top: 80px;*/
	margin: 80px auto 0 auto;
	width: 1000px;
	background: #1f1f1f;
	color: #999;
	height: 200px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}
footer .foot-nav{
	padding: 30px 0;
	font-size: 14px;
}
footer .foot-nav a{
	margin: 0 13px;
}
footer a{
	color: #999;
}
footer a:hover{
	color: #999;
}
